* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #333030;
}
.formErr {
  display: none;
  color: red;
  font-size: 1.2rem;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(221, 216, 216);
  margin-bottom: 100px;
}
.indexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.linkUni {
  height: 300px;
  width: 300px;
}
h2 {
  text-align: center;
  margin: 10px;
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: #27200c;
  font-size: 1.2rem;
}
a:hover {
  color: orange;
}
.linkUni div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  border: 5px solid black;
  border-radius: 25px;
  background: linear-gradient(#14ffe9, #bba5a5, #ff9100);
}

/* details page */
.detailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsContainer div {
  background: linear-gradient(#14ffe9, #bba5a5, #ff9100);
  border: 5px solid black;
  border-radius: 25px;
  padding: 20px;
}

/* Contact page */
.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#14ffe9, #bba5a5, #ff9100);
  min-width: 400px;
  min-height: 400px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}
input {
  padding: 10px;
  font-size: 1.2rem;
}
button {
  font-size: 1.5rem;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}
button:hover {
  color: #50a690;
  background-color: black;
}

/* loading */

.loading {
  background: linear-gradient(#14ffe9, #000000, #ff9100);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1.5s ease-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.errMs {
  font-size: 2.5rem;
  background: linear-gradient(#14ffe9, #ac9595, #ff9100);
  font-weight: 900;
  border-radius: 10px;
}
